/* Soluzione qui */

/*
    =================================
    Modalità LARGE MOBILE 576px BONUS
    =================================
*/

@media screen and (min-width: 576px) {
    .presentation img {
        float: left;
        margin: 10px;
    }

    .social-networks .btn {
        width: 10%;
        transition: all 0.3s ease;
    }
}

/*
    =================================
    Modalità TABLET 768px
    =================================
*/

@media screen and (min-width: 769px) {
    #topbar {
        display: block;
    }

    #logo {
        font-size: 3.5em;
    }

    main {
        padding: 60px;
    }

    .recipe-origin {
        display: inline;
    }

    .quick-notes ul {
        display: flex;
        flex-wrap: wrap;
        gap: 20px;
    }

    .quick-notes li {
        display: flex;
        flex-basis: calc((100% / 3) - (20px * 2) / 3);
    }

    .social-networks .btn {
        width: 15%;
    }

    .ads {
        display: block;
    }
}

/*
    ===================================
    Modalità DESKTOP 992px
    ===================================
*/

@media screen and (min-width: 993px) {

    #topbar {
        margin-bottom: 20px;
    }

    .recipe-card {
        display: flex;
    }

    #logo {
        font-size: 4.5rem;
    }

    .quick-notes ul {
        display: inline;
    }

    .recipe-video {
        max-height: 450px;
        flex-grow: 2;
    }

    .recipe-info {
        flex-grow: 1;
    }

    .social-networks .label {
        display: inline;
    }

    footer {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    address {
        text-align: start;
    }
}